@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
}

:root {
  --background-color: #fff;
  --text-color: #333;
}
/* 
.dark-mode {
  --background-color: #333;
  --text-color: #fff;
} */
.dark {
  background-color: #333;
  /* color: #fff; */
}

.dark .text-gray-800 {
  color: #121010;
}

.dark .text-teal-600 {
  color: black;
}


@layer base{
    body {
        @apply dark:bg-gray-800 bg-white
    }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
